@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&display=swap");

body {
	margin: 0;
	margin-top: 100px;
	font-family: "Indie Flower", sans-serif;
}

#header-background {
	text-align: center;
	font-size: 100px;
	position: absolute;
	top: 0px;
	width: 100vw;
	height: 250px;
	line-height: 250px;
	z-index: -1;
	background-color: pink;
}

#blurb {
	padding: 2px 0 0 8px;
}

#form {
	padding: 20px 8px 0 8px;
}

#recipients {
	margin-top: 10px;
}

#print-back:not(:checked) ~ span.hide {
	display: none;
}

.subtext {
	color: rgb(175, 175, 175);
	font-style: italic;
	margin-bottom: 5px;
}

#no-recipient {
	display: block;
}

#front-text {
	font-size: 20px;
	resize: none;
	font-family: "Dancing Script", cursive;
}

h1,
h2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 110px;
	font-family: "Dancing Script", cursive;
}

button,
span.btn {
	background-color: transparent;
	border: 1px solid rgb(73, 73, 73);
	border-radius: 3px;
	outline: none;
	padding: 1px 6px;
	font-size: 13.3333px;
}

button {
	cursor: pointer;
	font-family: "Indie Flower", sans-serif;
}

textarea {
	resize: vertical;
	font-family: "Indie Flower", sans-serif;
}

span.btn {
	cursor: default;
}

button:active {
	border: 1px solid rgb(0, 0, 0);
	background-color: pink;
}

input {
	border: 1px solid rgb(73, 73, 73);
	border-radius: 3px;
	font-family: "Indie Flower", sans-serif;
}

textarea:focus,
input:focus {
	background-color: pink;
	border: 1px solid rgb(73, 73, 73);
	border-radius: 2px;
	outline: none;
}

b {
	text-decoration: underline;
}

li {
	padding-top: 3px;
}

#preview {
	border: 5px solid gray;
	padding: 5px;
	border-radius: 5px;
	font-family: sans-serif;
}

#print {
	display: none;
}

@media print {
	body {
		margin-top: 0;
	}

	#form,
	#header-background,
	#header,
	#blurb {
		display: none;
	}

	#print {
		display: block;
	}

	#print div.card {
		height: 50vh;
		font-family: sans-serif;
	}

	#print div.card.back {
		text-align: end;
		line-height: 50vh;
	}

	#print div.card.back span.emoji {
		position: absolute;
		display: block;
		left: 50vw;
		font-size: 150px;
		line-height: 50vh;
		height: 50vh;
		width: 30vw;
	}

	#print div.card:nth-child(odd) {
		border-bottom: 5px solid gray;
		box-sizing: border-box;
	}

	#print div.card:nth-child(even):not(:last-child) {
		page-break-after: always;
	}
}
